body{
  font-size: 14px;
  background-color: #eff0f0;
}

.uk-container{
  max-width: 1000px;
}
//=====================================
.block_g{
  .title{
    font-family:'San Francisco Display Bold';
    font-size: 35px;
    margin-bottom: 10px;
  }
}

.font1{
  font-family:'San Francisco Display Medium' !important;
}