.card11{
  .uk-card-title{
    margin-bottom: 0;
    a{
      color: #17479B;
    }
  }
  time{
    color: #8D8F92;
  }
}
.kqtk{
  color: #999999 !important;
  font-family: 'San Francisco Display Regular';
  font-size: 14px;
  text-transform: capitalize !important;
}