.box_contact{
  .uk-input,.uk-textarea{
    background-color: #F2F2F2;
    border-radius: 4px;
    font-family:'San Francisco Display Regular';
  }
}
//=====================================
.box_3{
  .title{
    font-family:'San Francisco Display Medium';
    margin-bottom: 15px;
  }
  .desc{
    font-family:'San Francisco Display Regular';
    margin: 0;
  }
}
//=====================================
.btn-send-contact{
  border-radius: 20px;
  background-color: #17479B;
  font-family:'San Francisco Display SemiBold';
  min-width: 150px;
}