.title_forgot_pass{
  font-size: 15px;
  margin-bottom: 10px;
}
.desc_forgot{
  margin: 0;
}
.uk-position-small{
  #slider_dvtv &{
    margin-left: 0;
    margin-right: 0;
  }
}
.card6{
  .uk-nav-default{
    li{
      &.uk-active{
        a{
          border-right: 4px solid #17479B;
        }
      }
    }
  }
}
.form_acc{
  .uk-icon{
    img{
      transform: scale(0.9);
    }
  }
}